.main-nav {
  padding: 0 18px;
  min-height: 70px;
  min-width: 320px;
  font-size: 24px;
}

.nav-text-logo {
  font-weight: bold;
  font-size: 1em;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #000000;
}

.nav-exit-buttom {
  font-weight: bold;
  font-size: 0.6em;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 0 40px;
  }
}
