.container {
  min-width: 320px;
}

.movie-review-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.movie-review-container input {
  font-size: 1em;
  width: 100%;
  height: 50px;
  padding: 13px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.movie-review-container button {
  font-size: 1em;
  width: 100%;
  height: 50px;
  font-weight: bold;
  margin: 24px 17px auto 17px;
}

.movie-reviewlist-container {
  margin: 20px 0 20px 0;
  padding: 3px 10px 28px;
}

@media (min-width: 576px) {
  .movie-review-container {
    padding: 20px;
  }

  .movie-review-container button {
    width: 400px;
  }

  .movie-reviewlist-container {
    padding: 3px 20px 28px;
  }
}

@media (min-width: 1200px) {
  .movie-review-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
  }

  .movie-review-container input {
    padding: 17px;
  }

  .movie-reviewlist-container {
    margin: 40px 0 40px 0;
    padding: 15px 40px 28px;
  }
}
